out/
**/.idea/
classes/
.project/
.settings/
.classpath
.tern-project
contents/ant/
*.iml
*.patch
*.diff
node_modules/
target/
.externalToolBuilders/
dependency-reduced-pom.xml
npm-debug.log
rebel.xml
.DS_Store
.idea/